/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}
body {
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  line-height: 3.5rem;
}

header img {
  position: absolute;
  z-index: 1;
  right: -25px;
  top: -15px;
  height: 600px;
  width: 400px;
}
header .abbr,
.logo,
.navbar {
  padding: 1.5rem 3rem;
  position: absolute;
  z-index: 1000;
}
header .abbr {
  top: -0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}
header .logo {
  top: 40px;
  left: 0;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
header .navbar {
  top: 115px;
  left: -1.25rem;
}
.navbar .searchbar {
  text-align: center;
  padding-left: 30px;
  background-color: unset;
  color: rgb(168, 114, 168);
  word-spacing: 1rem;
  border-bottom: rgb(168, 114, 168) solid 2px;
}
.navbar input {
  background-color: unset;
  font-size: 1.2rem;
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar ul li {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  margin-right: 45px;
}
.navbar ul li a {
  color: orange;
  text-decoration: none;
  padding: 8px 25px 8px 25px;
}
.navbar ul li.active a {
  background-color: rgb(16, 129, 110);
  border: rgb(6, 107, 133) solid 4px;
  border-radius: 18px;
  box-shadow: rgba(6, 107, 133, 0.65) 0px 5px 8px;
}
/* Section css starts */
.container {
  position: absolute;
  top: 65%;
  /* padding: 5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}
.container .card {
  position: relative;
  border: solid 4px red;
  width: 250px;
  height: auto;
  background: linear-gradient(#afe4dd, #ff93f2, #0affe6);
  animation: rotate 3s linear infinite;
  padding-bottom: 1rem;
  border-radius: 1.2rem;
  box-shadow: rgba(6, 107, 133, 0.65) 0px 5px 8px;
}
.container .card:hover {
  transform: rotate3d(1, 3, 3, 5deg);
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.card-image {
  object-fit: cover;
}
.card-image img {
  border-radius: 1rem;
  height: 250px;
  width: 250px;
}
.card .card-info p,
.card-vp {
  font-family: "Poppins", sans-serif;
  text-transform: none;
  font-weight: 800;
  padding-top: 0.5rem;
}
.card .card-info .blur {
  font-weight: 400;
  opacity: 0.5;
}
.card .card-vp .far {
  padding-right: 15px;
  font-weight: bolder;
}
.card-vp {
  opacity: 0.5;
}

/* Responsive media quiers */

/* tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
        top: 45%;
      }
} 

/* tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        top: 45%;
      }
      header .abbr {
        padding: 1.5rem;
        font-size:large;
      }
      header .logo {
        font-size: 2rem;
        padding: 1.5rem;
      }
      header .navbar {
        padding: 1.5rem;
      }
} 
/* smartphone landscape */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        top: 75%;
      }
      header .abbr {
        padding: 0.5rem;
        font-size: medium;
      }
      header .logo {
        font-size: 1.8rem;
        padding: 0.5rem;
      }
      header .navbar {
        padding: 1.5rem;
      }
      .navbar ul {
        flex-direction: column;
      }
      .navbar ul li {
        font-size: medium;
        margin-top: 12px;
      }
} 
/* smartphone portrait */
@media screen and (min-width: 360px) and (max-width: 479px) {
    .container {
        top: 65%;
      }
      header img {
        right: -30px;
        top: -30px;
        height: 500px;
        width: 400px;
      }
      header .abbr {
        padding: 0.5rem;
        font-size: smaller;
      }
      header .logo {
        font-size: 1.8rem;
        padding: 0.5rem;
      }
      header .navbar {
        top: 50%;
        padding: 1.5rem;
      }
      .navbar ul {
        flex-direction: column;
      }
      .navbar ul li {
        font-size: small;
        margin-top: 12px;
      }
}
@media screen and (min-width: 210px) and (max-width: 359px){
    .container {
        top: 75%;
      }
      header img {
        right: -70px;
        top: -35px;
        height: 500px;
        width: 400px;
      }
      header .abbr {
        padding: 0.5rem;
        font-size: 10px;
      }
      header .logo {
        font-size: 2rem;
        padding: 0.5rem;
      }
      header .navbar {
        top: 40%;
        padding: 1.5rem;
      }
      .navbar ul {
        flex-direction: column;
      }
      .navbar ul li {
        font-size: smaller;
        margin-top: 8px;
      }
      .navbar .searchbar{
          width: 100%;
      }
}
